.transfer-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 4%;
    height: 200%;
    animation: load .4s;

}

.transfer-menu-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3% 0% 3%;
}

.your-account {
    display: flex;
    flex-direction: column;
}

.destination-account {
    display: flex;
    flex-direction: column;
}

.transfer-menu-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transfer-menu-input input{
    outline: none;
    border: none;
    color: white;
    border-bottom: solid white 1px;
    background-color: rgb(37, 37, 37);
    margin-top: 2%;
}