.transfer-menu-container {
    display: flex;
    flex-direction: column;
    margin: 4%;
    animation: load .4s;
}

.transfer-menu-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3% 0% 3%;
}