.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 4%;
    height: 100%;
    animation: load .4s;

}

.settings-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3% 0% 3%;
}