.welcome-container {
    display: flex;
    flex-direction: row;
    margin: 2% 0% 0% 5%;
}

.welcome{

}

.component-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 75vh;
    margin: 5% 10% 0% 10%;
    border: solid white 2px;
}